<%# display search errors %>
<div class="results-block">
  <%= render 'shared/messages' %>
</div>

<%# display search results %>
<% if @friends %>
  <div class="card card-header results-block">
    <table class="col-md-12">
      <tbody>
        <%# iterate over searched users %>
        <% @friends.each do |friend| %>
          <tr>
            <%# display username, email and actions buttons %>
            <td><strong>Name: </strong><%= friend.full_name %></td>
            <td><strong>Email: </strong><%= friend.email %></td>
            <td><%= link_to "View Profile", '#', class: "btn btn-sm btn-success" %>
                <%# display option to follow user depend on restrictions of following %>
                <% if current_user.not_following?(friend) %>
                  <span class="ms-2">
                    <%# show follow button if there is no restrictions %>
                    <%= link_to "Follow", friendships_path(friend: friend),
                                          class: "btn btn-sm btn-success", method: :post %>
                  </span>
                <% else %>
                  <%# display badge with message of restriction %>
                  <span class="badge text-bg-secondary ms-2">
                    Following
                  </span>
                <% end %></td>
        <% end %>
      </tbody>
    </table> 
  </div>
<% end %>