<h1>My portfolio</h1>

<%# search form for symbols %>
<div class="search-area pb-4">
  <h3>Search Stocks</h3>
  <%= form_tag search_stock_path, remote: true, method: :get do %>
    <div class="form-group row">
      <div class="col-sm-9 no-right-padding">
        <%= text_field_tag :stock, params[:stock], placeholder: "Stock ticker symbol", autofocus: true, class: "form-control form-control-lg" %>
      </div>
      <%# search button %>
      <div class="col-sm-3">
        <%= button_tag type: :submit, class: "btn btn-success" do %>
          <%= fa_icon 'search 2x' %>
        <% end %>
      </div>
    </div>
  <% end %>
</div>

<%# displaying results of search with javascript (see _stock_result.js.erb) %>
<div id="stock_results">

</div>

<%# displaying table with tracked stocks of the current user %>
<% if !@tracked_stocks.empty? %>
  <%= render 'stocks/list' %>
<% end %>
